*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Yu Gothic Light';
    text-decoration: none;
    transition: .4s;
}
h3{
    color: whitesmoke;
}
/* scroll bar */

::-webkit-scrollbar{
    width: 10px;
    background: black;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,rgb(167, 128, 30),transparent);
}

/* *************************************  NAVBAR   **************************************** */

#navbar{
    width: 300px;
    background: black;
    height: 100dvh;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 333;
}
.navBtn{
    position: fixed;
    right: 10%;
    top: 30px;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 50%;
    color: rgb(206, 157, 34);
    box-shadow: 0 0 4px rgb(206, 157, 34);
    background: black;
    cursor: pointer;
    display: none;
    z-index: 444;
}
.navBtn:hover{
    background: rgb(167, 128, 30);
    color: black;
}
.nav-head{
    margin: 10px 0;
}
#navImg{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid rgb(167, 128, 30);
    margin: 0 auto;
    overflow: hidden;
    background: linear-gradient(45deg,black,black,rgb(167, 128, 30));
}
#navImg img{
   height: 100%;
   width: 100%; 
}
.nav-head h6{
    color: whitesmoke;
    margin: 20px 0;
}
.nav-head button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    margin: 10px 5px;
    color: whitesmoke;
    background-color:rgb(136, 106, 29);
    cursor: pointer;
    outline: none;
}
.nav-head button:hover{
    background-color:rgb(190, 147, 39) ;
}
#nav a{
    text-decoration: none;
}
#nav #myUl{
    padding: 10px;
}
#nav #myUl li{
    padding: 10px 0;
    cursor: pointer;
}
#nav #myUl i{
    padding: 0 10px;
}
#nav #myUl a{
    text-decoration: none;
    color: rgb(216, 217, 218);
}
#nav #myUl a:hover{
    color:rgb(167, 128, 30);
}
#nav .lastcontent{
    color: grey;
}
#hr-line{
    height: 1px;
    width: 100%;
    background-color: rgb(167, 128, 30);
}
/* all pages */

#all-pages{
    margin-left: 300px;
    
}
/* home */
#home{
    height: 90%;
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    background: url(../images/back.jpg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    z-index: 11;
}
#home .col-lg-8{
    transform: translateY(50px);
}
#home h1{
    font-family: 'Ink Free';
}
#home span{
    color: rgb(167, 128, 30);
    font-weight: bold;
}
#home a{
    color: rgb(167, 128, 30);
    text-decoration: none;
}
#home a:hover{
    color: rgb(236, 173, 14);
}
#home button{
    padding: 8px 20px;
    border: none;
    background: linear-gradient(45deg,black, rgb(208, 159, 35),rgb(167, 128, 30));
    margin-top: 20px;
    color: white;
    cursor: pointer;
    outline: none;
    text-shadow: 0px 0px 4px rgb(51, 51, 51);
}
#home button:hover{
    background: linear-gradient(-45deg,black, rgb(208, 159, 35),rgb(167, 128, 30));
}
/* about */


#about{
    position: relative;
    z-index: 11;
    width: 100%;
    height: 100%;
    padding: 30px 0;
    background: black;
    color: whitesmoke;
}
#title{
    height: 1px;
    width: 50px;
    background: rgb(167, 128, 30);
}
#about .col-lg-6 li{
    width: 100%;
    margin-bottom: 15px;
    color: rgb(167, 128, 30);
    padding: 5px 10px;
    font-weight: bold;
}
#about .col-lg-6 #html{
    position: relative;
}
#about .col-lg-6 #html::before{
    content: "";
    position: absolute;
    background: grey;
    text-align: right;
    height: 6px;
    width: 100%;
    bottom: 0;
    left: 0;
}
#about .col-lg-6 #html::after{
    content: "100%";
    position: absolute;
    background: rgb(167, 128, 30);
    color: black;
    text-align: right;
    height: 6px;
    width: 100%;
    bottom: 0;
    left: 0;
}

#about .col-lg-6 #html{
    position: relative;
}
#about .col-lg-6 #html::before{
    content: "";
    position: absolute;
    background: grey;
    text-align: right;
    height: 6px;
    width: 100%;
    bottom: 0;
    left: 0;
}
#about .col-lg-6 #html::after{
    content: "100%";
    position: absolute;
    background: rgb(167, 128, 30);
    color: grey;
    text-align: right;
    height: 6px;
    width: 100%;
    bottom: 0;
    left: 0;
}

#about .col-lg-6 #css{
    position: relative;
}
#about .col-lg-6 #css::before{
    content: "";
    position: absolute;
    background: grey;
    text-align: right;
    height: 6px;
    width: 100%;
    bottom: 0;
    left: 0;
}
#about .col-lg-6 #css::after{
    content: "100%";
    position: absolute;
    background: rgb(167, 128, 30);
    color: grey;
    text-align: right;
    height: 6px;
    width: 100%;
    bottom: 0;
    left: 0;
}

#about .col-lg-6 #bootstrap{
    position: relative;
}
#about .col-lg-6 #bootstrap::before{
    content: "";
    position: absolute;
    background: grey;
    text-align: right;
    height: 6px;
    width: 100%;
    bottom: 0;
    left: 0;
}
#about .col-lg-6 #bootstrap::after{
    content: "90%";
    position: absolute;
    background: rgb(167, 128, 30);
    color: grey;
    text-align: right;
    height: 6px;
    width: 90%;
    bottom: 0;
    left: 0;
}

#about .col-lg-6 #javascript{
    position: relative;
}
#about .col-lg-6 #javascript::before{
    content: "";
    position: absolute;
    background: grey;
    text-align: right;
    height: 6px;
    width: 100%;
    bottom: 0;
    left: 0;
}
#about .col-lg-6 #javascript::after{
    content: "60%";
    position: absolute;
    background: rgb(167, 128, 30);
    color: grey;
    text-align: right;
    height: 6px;
    width: 60%;
    bottom: 0;
    left: 0;
}

#about .col-lg-6 #php{
    position: relative;
}
#about .col-lg-6 #php::before{
    content: "";
    position: absolute;
    background: grey;
    text-align: right;
    height: 6px;
    width: 100%;
    bottom: 0;
    left: 0;
}
#about .col-lg-6 #php::after{
    content: "50%";
    position: absolute;
    background: rgb(167, 128, 30);
    color: grey;
    text-align: right;
    height: 6px;
    width: 50%;
    bottom: 0;
    left: 0;
}

#about .col-lg-6 #mysql{
    position: relative;
}
#about .col-lg-6 #mysql::before{
    content: "";
    position: absolute;
    background: grey;
    text-align: right;
    height: 6px;
    width: 100%;
    bottom: 0;
    left: 0;
}
#about .col-lg-6 #mysql::after{
    content: "50%";
    position: absolute;
    background: rgb(167, 128, 30);
    color: grey;
    text-align: right;
    height: 6px;
    width: 50%;
    bottom: 0;
    left: 0;
}

#about .col-lg-6 #wordpress{
    position: relative;
}
#about .col-lg-6 #wordpress::before{
    content: "";
    position: absolute;
    background: grey;
    text-align: right;
    height: 6px;
    width: 100%;
    bottom: 0;
    left: 0;
}
#about .col-lg-6 #wordpress::after{
    content: "50%";
    position: absolute;
    background: rgb(167, 128, 30);
    color: grey;
    text-align: right;
    height: 6px;
    width: 50%;
    bottom: 0;
    left: 0;
}

#about .col-lg-6 #photoshop{
    position: relative;
}
#about .col-lg-6 #photoshop::before{
    content: "";
    position: absolute;
    background: grey;
    text-align: right;
    height: 6px;
    width: 100%;
    bottom: 0;
    left: 0;
}
#about .col-lg-6 #photoshop::after{
    content: "60%";
    position: absolute;
    background: rgb(167, 128, 30);
    color: grey;
    text-align: right;
    height: 6px;
    width: 60%;
    bottom: 0;
    left: 0;
}
#about .col-md-3 .card{
    text-align: center;
    border: none;
    background: transparent;
    margin-bottom: 30px;
}
#about .col-md-3 .card{
    box-shadow: 0 0 5px rgb(167, 128, 30);
    padding: 10px 5px;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(167, 128, 30),black,black);
}
#about .col-md-3 .card .card-img{
    background-color: rgba(167, 128, 30);
    border-radius: 50%;
    color: black;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateY(-30px);
}
#about .col-md-3 .card img{
    width: 80%;
}
#about .col-md-3 .card h4{
    font-weight: bold;
    color: rgb(167, 128, 30);
    padding: 10px 0 ;
}
#h4 a{
    color: rgb(167, 128, 30);
    text-decoration: none;
}
#h4 a:hover{
    color: rgb(234, 181, 45);
}
#about #random-facts{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    text-shadow: 0 0 4px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/bg2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    z-index: 1;
}
#about #random-facts::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgb(167, 128, 30)70;
}
#about #random-facts button{
    padding: 8px 20px;
    border: none;
    background: white;
    color: rgb(120, 93, 23);
    outline: none;
    font-weight: bold;
    text-shadow: none;
    cursor: pointer;
}
#about #random-facts button:hover{
    background: rgb(167, 128, 30);
    color: white;
}
/* resume */
#resume{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.982);
    color: white;
    height: 100dvh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: scale(0,0);
}
#resume #resume-content{
    padding: 20px;
    position: relative;
}

#resume #resume-content::before{
    content: "";
    height: 85%;
    width: 2px;
    background: rgb(120, 93, 23);
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;
}
#resume #resume-content::after{
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: black;
    border:2px solid rgb(120, 93, 23);
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    transform: translate(-7px,30px);
}
#resume h3{
    color: rgb(120, 93, 23);
}
#resume #close-cv-btn{
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px;
    outline: none;
    border: none;
    background: rgba(255, 0, 0, 0.624);
    color: black;
    border-radius: 50%;
    cursor: pointer;
}
#resume #close-cv-btn:hover{
    background: rgba(255, 0, 0, 0.835);
    transform: scale(1.1,1.1);
}
#resume #clse{
    cursor: pointer;
    color: white;
}
#resume #clse:hover{
    color: red;
}
/* portfolio */

#portfolio{
    background: black;
    position: relative;
    z-index: 11;
    margin-bottom: 100vh;
}
#portfolio h2{
    color: white;
}
#portfolio .col-lg-4{
    margin-bottom: 20px;
}
#portfolio .card{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border: none;
    box-shadow: 0 0 6px rgb(167, 128, 30);
    padding-bottom: 20px;
}
#portfolio .card:hover{
    background: rgb(167, 128, 30);
    cursor: pointer;
}
#portfolio .card img{
    height: 200px;
    width: 100%;
    position: relative;
    z-index: -1;
}
#portfolio .card #card-img{
    position: relative;
    z-index: 1;
}

#portfolio .card:hover #work-img{
    transform: scale(1.2,1.2);
}
#portfolio .card #card-img::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.222);
    z-index: 1;
}
#portfolio .card .project-description{
    background: white;
    padding: 20px 10px;
    position: relative;
    z-index: 1;
}
#portfolio .card .project-description::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: white;
    transform: translateY(-25px)skewY(10deg);
    z-index: -1;
}

#portfolio .card .project-description #demo{
    padding: 8px 15px;
    border: none;
    outline: none;
    background: rgb(167, 128, 30);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
#portfolio .card .project-description #demo:hover{
    background: rgb(248, 188, 37);
}
#portfolio .card .project-description #github{
    padding: 8px 15px;
    border: none;
    outline: none;
    background: #000000;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
#portfolio .card .project-description #github:hover{
    background: #4a4949;
}

#contact{
    height: 100vh;
    width: 100%;
    position: fixed;
    background: url(../images/contact3.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(rgb(167, 128, 30)55, black);
}
#contact .col-lg-8 a{
    color: rgb(167, 128, 30);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 0 4px black;
}
#contact .col-lg-8 a:hover{
    color: rgb(250, 190, 38);
}
